WORDPRESS_DB_HOST=example-mariadb-host:3306
WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=change-me
WORDPRESS_TABLE_PREFIX=wp_
WORDPRESS_CONFIG_EXTRA=define('WP_ENVIRONMENT_TYPE', 'production');
