[Interface]
Address = {{GATEWAY_WG_ADDRESS_CIDR}}
ListenPort = {{WIREGUARD_PORT}}
PrivateKey = {{WG_PRIVATE_KEY}}

[Peer]
PublicKey = {{VPS_WG_PUBLIC_KEY}}
AllowedIPs = {{VPS_WG_ADDRESS}}/32
Endpoint = {{VPS_PUBLIC_IP}}:{{WIREGUARD_PORT}}
PersistentKeepalive = 25
