MARIADB_BIND_ADDRESS=__REQUIRED_VPS_WIREGUARD_ADDRESS__
MARIADB_ROOT_PASSWORD=__REQUIRED_SECRET__
WORDPRESS_DB_NAME=__REQUIRED__
WORDPRESS_DB_USER=__REQUIRED__
WORDPRESS_DB_PASSWORD=__REQUIRED_SECRET__
